body{
    /* background-color: #f60c49; */
    background: rgb(252,70,107);
    background: radial-gradient(circle, rgba(252,70,107,1) 2%, rgba(63,94,251,1) 90%);
    color: #101942;
    margin: 0%;
    font-weight: bold;
    font-family: Inter;
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-top: 2%;
    gap: 10%;
    justify-content: center;
}
.botoesNav{
    width: 13%;
    height: 40px;
    border-radius: 25px;
    border: none;
    background-color: #fefeff;
    font-size: 25px;
    font-weight: bold;
    color:#101942;
}
.botoesNav:hover{
    background-color: #3f5efb;
    color:#fefeff;
}

#quadradoEdicao{
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: row;
    background-color: #fefeff;
    border-radius: 25px;
    margin: 5%;
    margin-top: 0%;
}
#divEdicao{
    display: flex;
    flex-direction: column;
    width: 65%;
}
#divFormularioEdicao{
    display: flex;
    flex-direction: column;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 2%;
    gap: 20px;
}

#seuNome{
    font-size: 30px;
}

#inputsPessoais{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}
.identificacao{
    font-size: 20px;
    font-weight: bold;
    color: rgb(16, 25, 66, 0.5);
}
.pinformacao{
    font-size: 20px;
    font-weight: bold;
    color:#101942;
}
#divBotoesEdicao{
    display: flex;
    justify-content: end;
    align-items: end;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
}
#botaoEditar{
    width: 20%;
    height: 30px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color: #3f5efb;
    color:#fefeff;
}
#botaoEditar:hover{
    background-color: rgb(63, 94, 251, 0.8);
    color:#fefeff;
}

#lateralDireito{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

#cardEdt{
    width: 95%;
    height: 300px;
    margin: 15%;
    margin-left: 0%;
    background: rgb(16,25,66);
    background: radial-gradient(circle, rgba(16,25,66,1) 0%, rgba(63,94,251,1) 100%);
    border-radius: 25px;
}
#quadradoCard{
    width: 70%;
    height: 80%;
    background-color: #fefeff;
    margin-left: 15%;
    margin-top: 5%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#criarVaga{
    height: 40px;
    width: 200px;
    background-color: #3f5efb;
    color: #fefeff;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
}
#criarVaga:hover{
    background-color: rgb(63, 94, 251, 0.8);
}

.grafico{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
#grafico{
    width: 100%;
    height: 100%;
}
#tituloGrafico{
    font-size: 30px;
    font-weight: bold;
    color: #101942;
}
#habilidades{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5%;
    background-color: rgb(16, 25, 66, 0.1);
    border-radius: 25px;
}
.habilidade{
    font-size: 20px;
    font-weight: bold;
    color: #101942;
    margin: 5%;
    margin-top: 0%;
}
.barra{
    width: 100%;
    height: 20px;
    background-color: #3f5efb;
    border-radius: 25px;
}
.quantidade{
    font-size: 15px;
    font-weight: bold;
    color: #fefeff;
    margin-left: 2%;
}
#barra1{
    width: 32%;
}
#barra2{
    width: 62%;
}
#barra3{
    width: 10%;
}

.vagas{
    margin: 10%;
    margin-top: 5%;
}
#tituloVagas{
    font-size: 30px;
    font-weight: bold;
    color: #101942;
    padding-bottom: 2%;
}